<div class="card card-filters">

    <div class="card-header">
        <strong>Filters</strong>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="from">From</label>
                        <input type="number" id="from" class="form-control">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="to">To</label>
                        <input type="number" id="to" class="form-control">
                    </div>
                </div>
                <div class="col-md-6" style="margin-top: 19px;">
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <button class="btn btn-primary btn-block">Filter by price</button>
        </form>
    </div>
</div>