<div class="card shadow-sm">
    <div class="row">
        <div class="col">
            <img class="bd-placeholder-img card-img-top" [src]="product.imgUrl" />
        </div>
        <div class="col">
                <h1 style="color: midnightblue; font-weight: bolder;">{{product.name}}</h1>
                <br><br><br>
                <h2 style="color: tomato; font-weight: bold;">
                    {{product.price | currency:'INR'}}
                </h2>
                <h4 class="card-text">{{product.description }}</h4><br><br>

            <button type="button" class="btn btn-danger">Buy</button>&nbsp;
            <button type="button" class="btn btn-secondary">Add to Cart</button>
        </div>
        
    </div>
    
</div>