<div class="row border-top border-bottom">
    <div class="row main align-items-center">
        <div class="col-3"><img class="img-fluid" [src]="cartItem.image"></div>
        <div class="col">
            <div class="row text-muted">Telivison</div>
            <div class="row">{{cartItem.product_name}}</div>
        </div>
        <div class="col-3"> 
            <a (click)="handleDeletetoCart()" style="cursor: pointer;"><span class="badge bg-danger">-</span></a>
            <span class="badge bg-primary">{{cartItem.qty}}</span>
            <a (click)="handleAddtoCart()" style="cursor: pointer;"><span class="badge bg-secondary">+</span></a>
        </div>
        <div class="col">{{(cartItem.price * cartItem.qty) | currency: 'INR'}}</div>
    </div>
</div>